<navigation></navigation>
<div class="container text-center">
    <h1>Best by Me</h1>
    <p>Find the best restaurants near you!</p>
    <p>{{ home.message }} </p>
    <button class="btn btn-primary">Find Best Restaurants by Me</button>
    <div class="panel">
        <p>{{ home.userLat }}</p>
        <p>{{ home.userLong }}</p>
    </div>
    <i ng-show="home.loading" class="fa fa-spinner fa-pulse fa-3x fa-fw">Retrieving Your Location</i>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="result in home.locations">
            {{ result.name | lower }}
            <rating score="result.rating"></rating>
            <span ng-if="!result.is_closed">Open Now!</span>
        </li>
    </ul>
</div>